* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/tic-tac-toe.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Work Sans', sans-serif;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    background-color: white;
    width: 600px;
    height: 75px;
    padding: 10px;
    margin: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(224, 220, 220);
    transition: 2s;
}

@media screen and (max-width: 650px){
    button {
        width: 300px;
    }
}