* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    animation: changeBackgroundColor 3s alternate-reverse infinite;
}

@keyframes changeBackgroundColor {
    0% {
      background-color: #aed6ff;
    }
    100% {
      background-color: #79bafc;
    }
}

h1 {
    color: white;
    margin: 20px auto;
    border-bottom: 2px solid white;
    width: 300px;
}

h1::before {
    content: "\26AA ";
}

h1::after {
    content: " \2716";
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(235, 224, 224);
}

.square:hover{
    background-color: rgb(247, 241, 241);
    cursor: pointer;
    transition: 1s;
}

.o {
    position: relative;
}

.o::after{
    content: "\26AA";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.x {
    position: relative;
}

.x::after{
    content: "\2716";
    font-size: 50px;
    line-height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scorePlayer1{
    position: absolute;
    left: 20%;
    top: 10%;
    /* transform: translateY(-15%); */
    width: 300px;
    height: 200px;
    background-color: rgb(224, 220, 220);
    border-radius: 50px;
}

.scorePlayer2{
    position: absolute;
    right: 20%;
    top: 10%;
    /* transform: translateY(-15%); */
    width: 300px;
    height: 200px;
    background-color: rgb(224, 220, 220);
    border-radius: 50px;
}

h2{
    padding: 10px 10px 0 10px;
    border-bottom: 2px solid black;
}

span {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.scorePlayer1 span::before {
    content: "\26AA";
}

.scorePlayer2 span::before {
    content: "\2716";
}

button{
    background-color: white;
    width: 200px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

button:hover {
    cursor: pointer;
    background-color: rgb(224, 220, 220);
    transition: 2s;
}

@media screen and (max-width: 1700px){
    .scorePlayer1{
        left: 10%;
    }
    
    .scorePlayer2{
        right: 10%;
    }
}

@media screen and (max-width: 1200px){
    .scorePlayer1{
        left: 10%;
        top: 60%;
    }
    
    .scorePlayer2{
        right: 10%;
        top: 60%;
    }
}

@media screen and (max-width: 945px){
    .scorePlayer1{
        top: 60%;
        left: 5%;
        width: 200px;
        height: 100px;
        width: 250px;
        height: 150px;
        border-radius: 20px;
    }
    
    .scorePlayer2{
        top: 60%;
        right: 5%;
        width: 250px;
        height: 150px;
        border-radius: 20px;
    }

    span {
        top: 70%;
        font-size: 30px;
    }
}

@media screen and (max-width: 600px){
    .scorePlayer1{
        top: 55%;
        left: 5%;
        width: 150px;
        height: 75px;
    }
    
    .scorePlayer2{
        top: 55%;
        right: 5%;
        width: 150px;
        height: 75px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 12px;
    }

    span {
        font-size: 16px;
    }
}

@media screen and (max-height: 850px){
    .scorePlayer1{
        top: 77%;
    }
    
    .scorePlayer2{
        top: 77%;
    }
}

@media screen and (max-height: 650px){
    .scorePlayer1{
        top: 85%;
    }
    
    .scorePlayer2{
        top: 85%;
    }
}
